@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --poppins:'Poppins', sans-serif;
    --purple:#6C63FF;
    --white: #FFFFFF;
    --black:#000000;
}
body {
  width:1440px;
  height:900px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
header{

    padding: 10px;
    background-color: #F9F7FE;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.0rem;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.nav-item {
    font-family: var(--poppins);
    font-weight: 500;
    padding-right: 8rem;
    line-height: 24px;
    font-size: 16px;
    color: #272142;
}

.nav-link{

    font-weight: 400;
    color: #475569;
}

.nav-item:hover{
    color:var(--purple);

}

.hero{
    padding: 160px 20px;
    background-color: #F9F7FE;
    text-align: center;
}

.hero .text .hi{
    
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 36px;
    margin: 0;
    line-height: 2;
    color:var(--black);

}
.hero .text h2{
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 96px;
    line-height: 127.97px;
    color:var(--black);
}

.hero .text p{
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

button:hover{
    background-color: var(--white);
    color:var(--purple);
}
.about{
    padding: 160px 20px;
    text-align: center;
}
.about .content{
    margin:30px;
}
.about h1{
    font-size: 64px;
    line-height: 1.5;
    font-family: 'Playfair Display', serif ;
}

.about p{
    font-size: 18px;
    font-family: 'Poppins', sans-serif ;
}
.img-fluid{
    border-radius: 10px;
}
button{
    width: 200px;
    height:63px;
    border-radius: 4px;
    padding: 15px, 30px;
    gap:10px;
    background-color:var(--purple);
    color: var(--white);
    font-size: 18px;
    border: none;
    font-family: var(--poppins);
   
    
}

button:hover{
    background-color: var(--white);
    color:var(--purple);
}
.work{
    width:1160px;
    height: 1900px;
    margin:80px;

    
}
.work .topic p{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}
.projectt{
    background-color: #e2e0e6;
    padding: 20px;
}
.caption{
    width:515px;
    height:255px;
    margin-top:200px;
    margin-left:144px;
}
.caption h1{
    font-size: 64px;
    font-family: 'Playfair Display', serif;
    color:#000000;
    line-height: 85.31px;
}

.inquiry{
    width:1160px;
    height:200px;
   margin-left:100px ;
   padding-right: 100px;
   padding-top: 49px;
   border-radius: 20px;
    background-color: #F9F7FE;
}
.inquiry h3{
   width:298px;
   height: 64px;
   margin-left: 129px;
   margin-right: 129px;
   line-height: 63.98px;
   font-size: 48px;
   font-weight: 700;
   font-family: 'Playfair Display', serif;
   color:#000000; 
}
.inquiry p{
    width:549px;
    height:27px;
    font-weight: 400;
    line-height: 27px;
    font-size: 18px;
    color:#272142;
    font-family: var(--poppins);
    margin-left: 118px;
    
}

button{
    width: 200px;
    height:63px;
    border-radius: 4px;
    padding: 18px, 38px, 18px, 38px;
    gap:10px;
    background-color: var(--purple);
    color: var(--purple);
    font-size: 18px;
    font-family: var(--poppins);
    font-weight: 500;
    text-align: center;
    border: none;
   
    
}
 
.email{
   
    text-align: center;
    color: var(--black);
    font-family: var(--poppins);
    font-weight: 500;
    line-height: 36px;
    font-size: 24px;
    padding-top: 49px;
    cursor: pointer;
}

.socials{
    text-align: center;
    color: var(--purple);
    padding-top: 30px;
    padding-bottom: 40px;
}

i{
    width:40px;
    margin-left: 20px;
    text-shadow: 0 0 30px var(--purple);
}


@media only screen and (max-width: 600px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    

}
